.navbar-div:hover .navbar-icon {
    background: var(--hover-color);
    border-radius: 15px;
}

.navbar-icon {
    height: 2.2em;
    width: 2.2em;
    padding: .2em;
    margin-right: 1em;
}

.navbar-active {
    background: var(--chakra-colors-gray-400);
}

.navbar-div {
    cursor: pointer;
    transition: "all .2s ease-in-out";
    border-radius: "5px";
    padding-right: "0";
}