@keyframes backgroundSkeleton {
    0% {
        background: rgb(26, 32, 44) none repeat scroll 0% 0%;
    }
    100% {
        background: rgb(74, 85, 104) none repeat scroll 0% 0%;
    }
}


.grid-placeholder {
    display: flex;
    width: 100%;
    height: 100%;
    animation: 0.8s linear 0s infinite alternate none running backgroundSkeleton;
    border-radius: var(--chakra-radii-xl);
}

