@keyframes backgroundPosition {
    0% {
        background-position-x: 0%;
    }

    50% {
        background-position-x: 100%;
    }

    100% {
        background-position-x: 0%;
    }

}


.videoGrid .videoGridItem {
    animation: backgroundPosition 30s ease-in-out;
}