.prog {
    padding: 0.5rem 1rem;
    position: relative;
    background-color: white;
    background-clip: padding-box;
    border: 5px solid transparent;
    border-radius: 1.75rem;
}

.prog::before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background-image: linear-gradient(90deg,
            hsl(289, 65%, 64%),
            hsl(226, 78%, 67%));
    border-radius: 1.75rem;
}

.prog span {
    margin: 0;
    background-image: linear-gradient(
      90deg,
      hsl(289, 65%, 64%),
      hsl(226, 78%, 67%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }